{% extends 'base.html.twig' %}

{% block title %}User management - Edit user{% endblock %}

{% block content %}

    <section class="t-section" id="">
        <div class="o-content-modul   ">
            <div class="container">
                <div class="row  _justify-center">
                    <div class="col ">
                        <h3 class="headline -size-large -bold sub_gray">Edit user</h3>
                        <div class="-wrapper">
                            <label for="packaging_information">
                                <h3 class="headline -size-small -medium"><a href="{{ path('users_preview') }}" style="text-decoration: none; color: #FF6600;">Back to user preview</a></h3>
                            </label>

                            <div class="-body">
                                <div class="o-table-modul">
                                    <div class="m-tables -is-highlight">
                                        <div class="a-table " data-require="clickableTableRow">
                                            {{ form(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
